<a href="https://colab.research.google.com/github/pralineso/estudos_ds/blob/main/Analise_comp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Introdução

Este notebook é referente ao 3° competição da FLAI de Machine Learning. 

O conjunto de dados fornecido está relacionado como resultado de campanhas de marketing de uma instituição financeira.

Nessa competicção o principal objetivo é prever se o cliente fará um deposito.

## Importações

In [58]:
import pandas as pd
import numpy as np

## Explorando a base

In [94]:
dados = pd.read_csv('https://raw.githubusercontent.com/pralineso/estudos_ds/main/Datasets/treino_comp.csv')

In [95]:
dados.head()

   Unnamed: 0  age          job  ... previous poutcome term_deposit
0           0   46   management  ...        0  unknown          yes
1           1   37   management  ...        0  unknown           no
2           2   34  blue-collar  ...        0  unknown           no
3           3   45   unemployed  ...        0  unknown           no
4           4   31   management  ...        0  unknown          yes

[5 rows x 17 columns]

### Respoder as seguintes questoes para heuristica base

* relação entre a idade e o term_deposit
* relação entre marital e term_deposit
* relação loan e term_deposit
* relação entre a campanha e o term_deposit

In [133]:
dados.shape

(6500, 17)

In [96]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6500 entries, 0 to 6499
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    6500 non-null   int64
 1   age           6500 non-null   int64
 2   job           6500 non-null   object
 3   marital       6500 non-null   object
 4   education     6500 non-null   object
 5   default       6500 non-null   object
 6   balance       6500 non-null   int64
 7   housing       6500 non-null   object
 8   loan          6500 non-null   object
 9   contact       6500 non-null   object
 10  day           6500 non-null   int64
 11  month         6500 non-null   object
 12  campaign      6500 non-null   int64
 13  pdays         6500 non-null   int64
 14  previous      6500 non-null   int64
 15  poutcome      6500 non-null   object
 16  term_deposit  6500 non-null   object
dtypes: int64(7), object(10)
memory usage: 863.4+ KB

Muitas variaveis categoricas...

In [62]:
dados.describe()

        Unnamed: 0          age  ...        pdays     previous
count  6500.000000  6500.000000  ...  6500.000000  6500.000000
mean   3249.500000    40.899692  ...    38.655231     0.551846
std    1876.532707    11.309033  ...    93.642546     1.825413
min       0.000000    18.000000  ...    -1.000000     0.000000
25%    1624.750000    32.000000  ...    -1.000000     0.000000
50%    3249.500000    39.000000  ...    -1.000000     0.000000
75%    4874.250000    48.000000  ...    -1.000000     0.000000
max    6499.000000    95.000000  ...   515.000000    58.000000

[8 rows x 7 columns]

In [63]:
dados.isnull().sum()

Unnamed: 0      0
age             0
job             0
marital         0
education       0
default         0
balance         0
housing         0
loan            0
contact         0
day             0
month           0
campaign        0
pdays           0
previous        0
poutcome        0
term_deposit    0
dtype: int64

Aparentemente nao possui dados faltantes

Verificando os valores das colunas default, loan, housing e term_deposit

In [64]:
dados['default'].value_counts()

no     6403
yes      97
Name: default, dtype: int64

In [65]:
dados['loan'].value_counts()

no     5621
yes     879
Name: loan, dtype: int64

In [66]:
dados['housing'].value_counts()

yes    3253
no     3247
Name: housing, dtype: int64

In [67]:
dados['term_deposit'].value_counts()

no     3267
yes    3233
Name: term_deposit, dtype: int64

Dando uma verificada na variavel target... parece estar bem equilibrado a quantidade de sim e nao

Verificando os valores das coluna: job, marital, education, contact, poutcome

In [ ]:
dados['job'].value_counts()

In [ ]:
dados['marital'].value_counts()

In [ ]:
dados['education'].value_counts()

In [ ]:
dados['contact'].value_counts()

In [ ]:
dados['poutcome'].value_counts()

Muitos dados possuem 'unknown'

Verificando a coluna de mes

In [ ]:
dados['month'].value_counts()

tem os 12 meses

## Tratamento dos dados

Transformando as colunas object para category

In [97]:
#Transforma as object em category
for i in dados.columns[dados.dtypes == object]: # df.dtypes == 'object'
    dados[i] = dados[i].astype('category')

In [98]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6500 entries, 0 to 6499
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    6500 non-null   int64
 1   age           6500 non-null   int64
 2   job           6500 non-null   category
 3   marital       6500 non-null   category
 4   education     6500 non-null   category
 5   default       6500 non-null   category
 6   balance       6500 non-null   int64
 7   housing       6500 non-null   category
 8   loan          6500 non-null   category
 9   contact       6500 non-null   category
 10  day           6500 non-null   int64
 11  month         6500 non-null   category
 12  campaign      6500 non-null   int64
 13  pdays         6500 non-null   int64
 14  previous      6500 non-null   int64
 15  poutcome      6500 non-null   category
 16  term_deposit  6500 non-null   category
dtypes: category(10), int64(7)
memory usage: 420.8 KB

Transformando as variaveis categoricas em numericas (no = 0 e yes = 1) das colunas default, loan, housing e term_deposit

In [99]:
#pega somente essas colunas e transfoma pra 0 e 1
lista = ['default', 'loan', 'housing','term_deposit']

for i in lista:
  dados[i] = dados[i].cat.codes

In [100]:
dados[lista]

      default  loan  housing  term_deposit
0           0     0        1             1
1           0     0        1             0
2           0     0        1             0
3           0     0        0             0
4           0     0        0             1
...       ...   ...      ...           ...
6495        0     0        1             1
6496        0     0        0             0
6497        0     0        0             0
6498        0     0        0             1
6499        0     0        1             1

[6500 rows x 4 columns]

Ordenando education para primary, secondray, tertiary e unknown

In [102]:
#reordenando
dados.education = dados.education.cat.reorder_categories(['primary', 'secondary', 'tertiary', 'unknown'], ordered=True)

Transformando as variaveis job, marital, contact e poutcome em numeros

In [104]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6500 entries, 0 to 6499
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    6500 non-null   int64
 1   age           6500 non-null   int64
 2   job           6500 non-null   category
 3   marital       6500 non-null   category
 4   education     6500 non-null   category
 5   default       6500 non-null   int8
 6   balance       6500 non-null   int64
 7   housing       6500 non-null   int8
 8   loan          6500 non-null   int8
 9   contact       6500 non-null   category
 10  day           6500 non-null   int64
 11  month         6500 non-null   category
 12  campaign      6500 non-null   int64
 13  pdays         6500 non-null   int64
 14  previous      6500 non-null   int64
 15  poutcome      6500 non-null   category
 16  term_deposit  6500 non-null   int8
dtypes: category(6), int64(7), int8(4)
memory usage: 420.5 KB

In [105]:
#pega somente essas colunas e transfoma para numeros
lista = ['job', 'marital',  'education', 'contact','poutcome', 'month']

for i in lista:
  dados[i] = dados[i].cat.codes

In [106]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6500 entries, 0 to 6499
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    6500 non-null   int64
 1   age           6500 non-null   int64
 2   job           6500 non-null   int8
 3   marital       6500 non-null   int8
 4   education     6500 non-null   int8
 5   default       6500 non-null   int8
 6   balance       6500 non-null   int64
 7   housing       6500 non-null   int8
 8   loan          6500 non-null   int8
 9   contact       6500 non-null   int8
 10  day           6500 non-null   int64
 11  month         6500 non-null   int8
 12  campaign      6500 non-null   int64
 13  pdays         6500 non-null   int64
 14  previous      6500 non-null   int64
 15  poutcome      6500 non-null   int8
 16  term_deposit  6500 non-null   int8
dtypes: int64(7), int8(10)
memory usage: 419.1 KB

Tranformando as variaveis continuas /normalizando as variaveis

In [107]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [108]:
dados_norm = sc.fit_transform(dados[['age', 'balance','day', 'campaign' , 'pdays', 'previous']]) #tranformando
dados_norm_df = pd.DataFrame(dados_norm, columns = ['age_n', 'balance_n', 'day_n', 'campaign_n' , 'pdays_n', 'previous_n']) #montando dataframe
dados = pd.concat([dados, dados_norm_df], axis = 1) #cocatenando com a base original

In [110]:
dados.sample(5)

      Unnamed: 0  age  job  marital  ...     day_n  campaign_n   pdays_n  previous_n
2209        2209   24    8        2  ... -0.318257   -0.210680  0.569708    1.341254
110          110   29    9        2  ... -1.514297   -0.569074 -0.423507   -0.302336
6491        6491   37    2        1  ...  0.638575   -0.210680 -0.423507   -0.302336
2596        2596   42    9        1  ...  1.715011   -0.210680 -0.423507   -0.302336
151          151   36    4        0  ...  0.758179   -0.569074 -0.423507   -0.302336

[5 rows x 23 columns]

Dropando variaveis

In [111]:
dados.columns

Index(['Unnamed: 0', 'age', 'job', 'marital', 'education', 'default',
       'balance', 'housing', 'loan', 'contact', 'day', 'month', 'campaign',
       'pdays', 'previous', 'poutcome', 'term_deposit', 'age_n', 'balance_n',
       'day_n', 'campaign_n', 'pdays_n', 'previous_n'],
      dtype='object')

In [112]:
dados.drop(['Unnamed: 0','age', 'balance', 'campaign', 'pdays', 'previous'], axis = 1, inplace = True) # removendo as colunas que nao estao tranformadas

Verificando a base apos as transformacoes

In [113]:
dados.sample(5)

      job  marital  education  ...  campaign_n   pdays_n  previous_n
4107    5        1          1  ...   -0.210680 -0.423507   -0.302336
3648    1        1          1  ...   -0.569074 -0.423507   -0.302336
2819   10        2          2  ...   -0.569074 -0.423507   -0.302336
1585    9        2          1  ...   -0.569074 -0.423507   -0.302336
5188   10        2          0  ...   -0.210680 -0.423507   -0.302336

[5 rows x 17 columns]

## Modelagem

In [123]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score, cross_validate
from sklearn import metrics
from sklearn.linear_model import LogisticRegression 
from sklearn.neighbors import KNeighborsClassifier

Separando treino e teste

In [115]:
y = dados.term_deposit
X = dados.drop(['term_deposit'], axis=1)

In [116]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

# o que significa stratify ?

Linear Regression

In [132]:
#treinamento
modelo = LogisticRegression(max_iter=200)
modelo.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=200,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [119]:
#predicao
y_pred = modelo.predict(X_test)

In [124]:
#metricas
print(metrics.classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.64      0.58      0.61       813
           1       0.61      0.67      0.64       812

    accuracy                           0.62      1625
   macro avg       0.62      0.62      0.62      1625
weighted avg       0.62      0.62      0.62      1625

In [ ]:
#verficiar kfold = 5

KNN

In [140]:
knn_class = KNeighborsClassifier(n_neighbors=10)
knn_class.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=10, p=2,
                     weights='uniform')

In [141]:
y_pred = knn_class.predict(X_test)

In [142]:
print(metrics.classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.59      0.81      0.68       813
           1       0.70      0.45      0.54       812

    accuracy                           0.63      1625
   macro avg       0.65      0.63      0.61      1625
weighted avg       0.65      0.63      0.61      1625

Arvore de decisão

Random Forest