<a href="https://colab.research.google.com/github/pralineso/estudos_ds/blob/main/Analise_comp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Imports

In [1]:
import pandas as pd
import numpy as np

## Explorando a base

In [2]:
dados = pd.read_csv('https://raw.githubusercontent.com/pralineso/estudos_ds/main/Datasets/treino_comp.csv')

In [3]:
dados.head()

   Unnamed: 0  age          job  ... previous poutcome term_deposit
0           0   46   management  ...        0  unknown          yes
1           1   37   management  ...        0  unknown           no
2           2   34  blue-collar  ...        0  unknown           no
3           3   45   unemployed  ...        0  unknown           no
4           4   31   management  ...        0  unknown          yes

[5 rows x 17 columns]

In [4]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6500 entries, 0 to 6499
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    6500 non-null   int64
 1   age           6500 non-null   int64
 2   job           6500 non-null   object
 3   marital       6500 non-null   object
 4   education     6500 non-null   object
 5   default       6500 non-null   object
 6   balance       6500 non-null   int64
 7   housing       6500 non-null   object
 8   loan          6500 non-null   object
 9   contact       6500 non-null   object
 10  day           6500 non-null   int64
 11  month         6500 non-null   object
 12  campaign      6500 non-null   int64
 13  pdays         6500 non-null   int64
 14  previous      6500 non-null   int64
 15  poutcome      6500 non-null   object
 16  term_deposit  6500 non-null   object
dtypes: int64(7), object(10)
memory usage: 863.4+ KB

Muitas variaveis categoricas...

In [6]:
dados.isnull().sum()

Unnamed: 0      0
age             0
job             0
marital         0
education       0
default         0
balance         0
housing         0
loan            0
contact         0
day             0
month           0
campaign        0
pdays           0
previous        0
poutcome        0
term_deposit    0
dtype: int64

Graças a Deus nao possui dados faltantes