<a href="https://colab.research.google.com/github/pralineso/estudos_ds/blob/main/Analise_comp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Imports

In [40]:
import pandas as pd
import numpy as np

## Explorando a base

In [41]:
dados = pd.read_csv('https://raw.githubusercontent.com/pralineso/estudos_ds/main/Datasets/treino_comp.csv')

In [42]:
dados.head()

   Unnamed: 0  age          job  ... previous poutcome term_deposit
0           0   46   management  ...        0  unknown          yes
1           1   37   management  ...        0  unknown           no
2           2   34  blue-collar  ...        0  unknown           no
3           3   45   unemployed  ...        0  unknown           no
4           4   31   management  ...        0  unknown          yes

[5 rows x 17 columns]

In [43]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6500 entries, 0 to 6499
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    6500 non-null   int64
 1   age           6500 non-null   int64
 2   job           6500 non-null   object
 3   marital       6500 non-null   object
 4   education     6500 non-null   object
 5   default       6500 non-null   object
 6   balance       6500 non-null   int64
 7   housing       6500 non-null   object
 8   loan          6500 non-null   object
 9   contact       6500 non-null   object
 10  day           6500 non-null   int64
 11  month         6500 non-null   object
 12  campaign      6500 non-null   int64
 13  pdays         6500 non-null   int64
 14  previous      6500 non-null   int64
 15  poutcome      6500 non-null   object
 16  term_deposit  6500 non-null   object
dtypes: int64(7), object(10)
memory usage: 863.4+ KB

Muitas variaveis categoricas...

In [44]:
dados.isnull().sum()

Unnamed: 0      0
age             0
job             0
marital         0
education       0
default         0
balance         0
housing         0
loan            0
contact         0
day             0
month           0
campaign        0
pdays           0
previous        0
poutcome        0
term_deposit    0
dtype: int64

Graças a Deus nao possui dados faltantes

Verificando os valores das colunas default, loan, housing e term_deposit

In [ ]:
dados['default'].value_counts()

no     6403
yes      97
Name: default, dtype: int64

In [ ]:
dados['loan'].value_counts()

no     5621
yes     879
Name: loan, dtype: int64

In [ ]:
dados['housing'].value_counts()

yes    3253
no     3247
Name: housing, dtype: int64

In [ ]:
dados['term_deposit'].value_counts()

no     3267
yes    3233
Name: term_deposit, dtype: int64

Dando uma verificada na variavel target, esta bem equilibrado a quantidade de sim e nao

Transformando as colunas object para category

In [46]:
#Transforma as objct em category
for i in dados.columns[dados.dtypes == object]: # df.dtypes == 'object'
    dados[i] = dados[i].astype('category')

In [47]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6500 entries, 0 to 6499
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    6500 non-null   int64
 1   age           6500 non-null   int64
 2   job           6500 non-null   category
 3   marital       6500 non-null   category
 4   education     6500 non-null   category
 5   default       6500 non-null   category
 6   balance       6500 non-null   int64
 7   housing       6500 non-null   category
 8   loan          6500 non-null   category
 9   contact       6500 non-null   category
 10  day           6500 non-null   int64
 11  month         6500 non-null   category
 12  campaign      6500 non-null   int64
 13  pdays         6500 non-null   int64
 14  previous      6500 non-null   int64
 15  poutcome      6500 non-null   category
 16  term_deposit  6500 non-null   category
dtypes: category(10), int64(7)
memory usage: 420.8 KB

Transformando as variaveis categoricas em numericas (no = 0 e yes = 1) das colunas default, loan, housing e term_deposit

In [48]:
#pega somente essas colunas e transfoma pra 0 e 1
lista = ['default', 'loan', 'housing','term_deposit']

for i in lista:
  dados[i] = dados[i].cat.codes

In [ ]:
dados[lista]

Verificando os valores das coluna: job, marital, education, contact, poutcome

In [57]:
dados['job'].value_counts()

management       1473
blue-collar      1240
technician       1045
admin.            748
services          579
retired           397
self-employed     240
unemployed        219
entrepreneur      188
student           171
housemaid         162
unknown            38
Name: job, dtype: int64

In [50]:
dados['marital'].value_counts()

married     3686
single      2035
divorced     779
Name: marital, dtype: int64

In [51]:
dados['education'].value_counts()

secondary    3220
tertiary     2117
primary       893
unknown       270
Name: education, dtype: int64

In [52]:
dados['contact'].value_counts()

cellular     4634
unknown      1445
telephone     421
Name: contact, dtype: int64

In [54]:
dados['poutcome'].value_counts()

unknown    5233
failure     650
success     369
other       248
Name: poutcome, dtype: int64

Muitos dados possuem 'unknown'

Verificando a coluna de mes

In [56]:
dados['month'].value_counts()

may    1720
aug     918
jul     889
jun     746
nov     604
apr     578
feb     381
oct     211
jan     137
sep     113
mar     113
dec      90
Name: month, dtype: int64

tem os 12 meses certinho