<a href="https://colab.research.google.com/github/pralineso/estudos_ds/blob/main/Analise_comp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Introdução

Este notebook é referente ao 3° competição da FLAI de Machine Learning. 

O conjunto de dados fornecido está relacionado como resultado de campanhas de marketing de uma instituição financeira.

Nessa competicção o principal objetivo é prever se o cliente fará um deposito.

## Importações

In [ ]:
import pandas as pd
import numpy as np

## Explorando a base

In [ ]:
dados = pd.read_csv('https://raw.githubusercontent.com/pralineso/estudos_ds/main/Datasets/treino_comp.csv')

In [ ]:
dados.head()

   Unnamed: 0  age          job  ... previous poutcome term_deposit
0           0   46   management  ...        0  unknown          yes
1           1   37   management  ...        0  unknown           no
2           2   34  blue-collar  ...        0  unknown           no
3           3   45   unemployed  ...        0  unknown           no
4           4   31   management  ...        0  unknown          yes

[5 rows x 17 columns]

In [ ]:
dados.shape

(6500, 17)

In [ ]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6500 entries, 0 to 6499
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    6500 non-null   int64
 1   age           6500 non-null   int64
 2   job           6500 non-null   object
 3   marital       6500 non-null   object
 4   education     6500 non-null   object
 5   default       6500 non-null   object
 6   balance       6500 non-null   int64
 7   housing       6500 non-null   object
 8   loan          6500 non-null   object
 9   contact       6500 non-null   object
 10  day           6500 non-null   int64
 11  month         6500 non-null   object
 12  campaign      6500 non-null   int64
 13  pdays         6500 non-null   int64
 14  previous      6500 non-null   int64
 15  poutcome      6500 non-null   object
 16  term_deposit  6500 non-null   object
dtypes: int64(7), object(10)
memory usage: 863.4+ KB

Muitas variaveis categoricas...

In [ ]:
dados.describe()

        Unnamed: 0          age  ...        pdays     previous
count  6500.000000  6500.000000  ...  6500.000000  6500.000000
mean   3249.500000    40.899692  ...    38.655231     0.551846
std    1876.532707    11.309033  ...    93.642546     1.825413
min       0.000000    18.000000  ...    -1.000000     0.000000
25%    1624.750000    32.000000  ...    -1.000000     0.000000
50%    3249.500000    39.000000  ...    -1.000000     0.000000
75%    4874.250000    48.000000  ...    -1.000000     0.000000
max    6499.000000    95.000000  ...   515.000000    58.000000

[8 rows x 7 columns]

In [ ]:
dados.isnull().sum()

Unnamed: 0      0
age             0
job             0
marital         0
education       0
default         0
balance         0
housing         0
loan            0
contact         0
day             0
month           0
campaign        0
pdays           0
previous        0
poutcome        0
term_deposit    0
dtype: int64

Aparentemente nao possui dados faltantes

Verificando os valores das colunas default, loan, housing e term_deposit

In [ ]:
dados['default'].value_counts()

no     6403
yes      97
Name: default, dtype: int64

In [ ]:
dados['loan'].value_counts()

no     5621
yes     879
Name: loan, dtype: int64

In [ ]:
dados['housing'].value_counts()

yes    3253
no     3247
Name: housing, dtype: int64

In [ ]:
dados['term_deposit'].value_counts()

no     3267
yes    3233
Name: term_deposit, dtype: int64

Dando uma verificada na variavel target... parece estar bem equilibrado a quantidade de sim e nao

Verificando os valores das coluna: job, marital, education, contact, poutcome

In [ ]:
dados['job'].value_counts()

management       1473
blue-collar      1240
technician       1045
admin.            748
services          579
retired           397
self-employed     240
unemployed        219
entrepreneur      188
student           171
housemaid         162
unknown            38
Name: job, dtype: int64

In [ ]:
dados['marital'].value_counts()

married     3686
single      2035
divorced     779
Name: marital, dtype: int64

In [ ]:
dados['education'].value_counts()

secondary    3220
tertiary     2117
primary       893
unknown       270
Name: education, dtype: int64

In [ ]:
dados['contact'].value_counts()

cellular     4634
unknown      1445
telephone     421
Name: contact, dtype: int64

In [ ]:
dados['poutcome'].value_counts()

unknown    5233
failure     650
success     369
other       248
Name: poutcome, dtype: int64

Muitos dados possuem 'unknown'

Verificando a coluna de mes

In [ ]:
dados['month'].value_counts()

may    1720
aug     918
jul     889
jun     746
nov     604
apr     578
feb     381
oct     211
jan     137
mar     113
sep     113
dec      90
Name: month, dtype: int64

tem os 12 meses

### Respoder as seguintes questoes para heuristica base

* relação entre a idade e o term_deposit
* relação entre marital e term_deposit
* relação loan e term_deposit
* relação entre a campanha e o term_deposit

#### Testando o Sweetviz

In [ ]:
!pip install sweetviz

Collecting sweetviz
  Downloading https://files.pythonhosted.org/packages/6c/ab/5ef84ee47e5344e9a23d69e0b52c11aba9d8be658d4e85c3c52d4e7d9130/sweetviz-2.1.0-py3-none-any.whl (15.1MB)
     |████████████████████████████████| 15.1MB 264kB/s
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from sweetviz) (1.19.5)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3 in /usr/local/lib/python3.7/dist-packages (from sweetviz) (1.1.5)
Requirement already satisfied: jinja2>=2.11.1 in /usr/local/lib/python3.7/dist-packages (from sweetviz) (2.11.3)
Requirement already satisfied: importlib-resources>=1.2.0 in /usr/local/lib/python3.7/dist-packages (from sweetviz) (5.1.2)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.7/dist-packages (from sweetviz) (1.4.1)
Collecting tqdm>=4.43.0
  Downloading https://files.pythonhosted.org/packages/72/8a/34efae5cf9924328a8f34eeb2fdaae14c011462d9f0e3fcded48e1266d1c/tqdm-4.60.0-py2.py3-none-any.whl (75kB)
     |████████████████████████████████| 81kB 8.2MB/s
Requirement already satisfied: matplotlib>=3.1.3 in /usr/local/lib/python3.7/dist-packages (from sweetviz) (3.2.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->sweetviz) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->sweetviz) (2.8.1)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2>=2.11.1->sweetviz) (1.1.1)
Requirement already satisfied: zipp>=0.4; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from importlib-resources>=1.2.0->sweetviz) (3.4.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.3->sweetviz) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.3->sweetviz) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.3->sweetviz) (1.3.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->sweetviz) (1.15.0)
Installing collected packages: tqdm, sweetviz
  Found existing installation: tqdm 4.41.1
    Uninstalling tqdm-4.41.1:
      Successfully uninstalled tqdm-4.41.1
Successfully installed sweetviz-2.1.0 tqdm-4.60.0

In [ ]:
import sweetviz

In [ ]:
dados.head(3)

   Unnamed: 0  age          job  ... previous poutcome term_deposit
0           0   46   management  ...        0  unknown          yes
1           1   37   management  ...        0  unknown           no
2           2   34  blue-collar  ...        0  unknown           no

[3 rows x 17 columns]

In [ ]:
eda_dados = sweetviz.analyze(dados)
eda_dados.show_html()

                                             |          | [  0%]   00:00 -> (? left)

Report SWEETVIZ_REPORT.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [ ]:
dados['term_deposit'] == 'no'

0       False
1        True
2        True
3        True
4       False
        ...
6495    False
6496     True
6497     True
6498    False
6499    False
Name: term_deposit, Length: 6500, dtype: bool

In [ ]:
eda2 = sweetviz.compare_intra(dados, dados['term_deposit'] == 'yes', ['Usuarios', 'Deposito'])
eda2.show_html()

Testando uma heusritica base: "toda pessoa que esta inadimplente nao faz o deposito, toda pessoa que paga em dia faz o deposito"

In [ ]:
teste1 = dados['default'].map({'no':0, 'yes':1})
teste1

In [ ]:
term_dep = dados['term_deposit'].map({'no':0, 'yes':1})

In [ ]:
#acuracia da heuristica
(teste1 == term_dep).mean()

0.49876923076923074

## Tratamento dos dados

Transformando as colunas object para category

In [ ]:
#Transforma as object em category
for i in dados.columns[dados.dtypes == object]: # df.dtypes == 'object'
    dados[i] = dados[i].astype('category')

In [ ]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6500 entries, 0 to 6499
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    6500 non-null   int64
 1   age           6500 non-null   int64
 2   job           6500 non-null   category
 3   marital       6500 non-null   category
 4   education     6500 non-null   category
 5   default       6500 non-null   category
 6   balance       6500 non-null   int64
 7   housing       6500 non-null   category
 8   loan          6500 non-null   category
 9   contact       6500 non-null   category
 10  day           6500 non-null   int64
 11  month         6500 non-null   category
 12  campaign      6500 non-null   int64
 13  pdays         6500 non-null   int64
 14  previous      6500 non-null   int64
 15  poutcome      6500 non-null   category
 16  term_deposit  6500 non-null   category
dtypes: category(10), int64(7)
memory usage: 420.8 KB

Transformando as variaveis categoricas em numericas (no = 0 e yes = 1) das colunas default, loan, housing e term_deposit

In [ ]:
#pega somente essas colunas e transfoma pra 0 e 1
lista = ['default', 'loan', 'housing','term_deposit']

for i in lista:
  dados[i] = dados[i].cat.codes

In [ ]:
dados[lista]

      default  loan  housing  term_deposit
0           0     0        1             1
1           0     0        1             0
2           0     0        1             0
3           0     0        0             0
4           0     0        0             1
...       ...   ...      ...           ...
6495        0     0        1             1
6496        0     0        0             0
6497        0     0        0             0
6498        0     0        0             1
6499        0     0        1             1

[6500 rows x 4 columns]

Ordenando education para primary, secondray, tertiary e unknown

In [ ]:
#reordenando
dados.education = dados.education.cat.reorder_categories(['primary', 'secondary', 'tertiary', 'unknown'], ordered=True)

Transformando as variaveis job, marital, contact e poutcome em numeros

In [ ]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6500 entries, 0 to 6499
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    6500 non-null   int64
 1   age           6500 non-null   int64
 2   job           6500 non-null   category
 3   marital       6500 non-null   category
 4   education     6500 non-null   category
 5   default       6500 non-null   int8
 6   balance       6500 non-null   int64
 7   housing       6500 non-null   int8
 8   loan          6500 non-null   int8
 9   contact       6500 non-null   category
 10  day           6500 non-null   int64
 11  month         6500 non-null   category
 12  campaign      6500 non-null   int64
 13  pdays         6500 non-null   int64
 14  previous      6500 non-null   int64
 15  poutcome      6500 non-null   category
 16  term_deposit  6500 non-null   int8
dtypes: category(6), int64(7), int8(4)
memory usage: 420.5 KB

In [ ]:
#pega somente essas colunas e transfoma para numeros
lista = ['job', 'marital',  'education', 'contact','poutcome', 'month']

for i in lista:
  dados[i] = dados[i].cat.codes

In [ ]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6500 entries, 0 to 6499
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    6500 non-null   int64
 1   age           6500 non-null   int64
 2   job           6500 non-null   int8
 3   marital       6500 non-null   int8
 4   education     6500 non-null   int8
 5   default       6500 non-null   int8
 6   balance       6500 non-null   int64
 7   housing       6500 non-null   int8
 8   loan          6500 non-null   int8
 9   contact       6500 non-null   int8
 10  day           6500 non-null   int64
 11  month         6500 non-null   int8
 12  campaign      6500 non-null   int64
 13  pdays         6500 non-null   int64
 14  previous      6500 non-null   int64
 15  poutcome      6500 non-null   int8
 16  term_deposit  6500 non-null   int8
dtypes: int64(7), int8(10)
memory usage: 419.1 KB

Tranformando as variaveis continuas /normalizando as variaveis

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [ ]:
dados_norm = sc.fit_transform(dados[['age', 'balance','day', 'campaign' , 'pdays', 'previous']]) #tranformando
dados_norm_df = pd.DataFrame(dados_norm, columns = ['age_n', 'balance_n', 'day_n', 'campaign_n' , 'pdays_n', 'previous_n']) #montando dataframe
dados = pd.concat([dados, dados_norm_df], axis = 1) #cocatenando com a base original

In [ ]:
dados.sample(5)

      Unnamed: 0  age  job  marital  ...     day_n  campaign_n   pdays_n  previous_n
1220        1220   50    4        2  ... -0.198653    0.864501 -0.423507   -0.302336
3350        3350   35    0        1  ... -1.633901    1.222895 -0.423507   -0.302336
2359        2359   33    4        1  ...  1.356199    0.506107 -0.423507   -0.302336
4527        4527   35    1        1  ...  1.475803    0.864501 -0.423507   -0.302336
3027        3027   35    1        1  ...  1.595407   -0.569074 -0.423507   -0.302336

[5 rows x 23 columns]

Dropando variaveis

In [ ]:
dados.columns

Index(['Unnamed: 0', 'age', 'job', 'marital', 'education', 'default',
       'balance', 'housing', 'loan', 'contact', 'day', 'month', 'campaign',
       'pdays', 'previous', 'poutcome', 'term_deposit', 'age_n', 'balance_n',
       'day_n', 'campaign_n', 'pdays_n', 'previous_n'],
      dtype='object')

In [ ]:
#dados.drop(['Unnamed: 0'], axis = 1, inplace = True)

In [ ]:
dados.drop(['Unnamed: 0','age', 'balance', 'campaign', 'pdays', 'previous'], axis = 1, inplace = True) # removendo as colunas que nao estao tranformadas

Verificando a base apos as transformacoes

In [ ]:
dados.sample(5)

      job  marital  education  ...  campaign_n   pdays_n  previous_n
6394   10        1          0  ...   -0.569074 -0.423507   -0.302336
2605    5        1          2  ...   -0.569074 -0.423507   -0.302336
1051    4        0          1  ...   -0.569074 -0.423507   -0.302336
3878    4        0          2  ...   -0.210680 -0.423507   -0.302336
4836    4        1          2  ...    0.864501 -0.423507   -0.302336

[5 rows x 17 columns]

## Modelagem

In [ ]:
from sklearn.model_selection import train_test_split, cross_val_score, cross_validate, KFold, RepeatedKFold
from sklearn import metrics
from sklearn.linear_model import LogisticRegression 
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
#f-fold
#kf = KFold(n_splits=5, shuffle=True)

In [ ]:
#k-foldrepetido
kf = RepeatedKFold(n_splits=10, n_repeats=5)

Separando treino e teste

In [ ]:
y = dados.term_deposit
X = dados.drop(['term_deposit'], axis=1)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

# o que significa stratify ?

Linear Regression

In [ ]:
#treinamento
modelo = LogisticRegression(max_iter=200)
modelo.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=200,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
#predicao
y_pred = modelo.predict(X_test)

In [ ]:
y_pred[0:20]

array([0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0],
      dtype=int8)

In [ ]:
y_test[0:20]

1060    0
4339    1
5960    1
2767    1
5322    0
924     0
3326    1
2401    0
852     1
4222    1
2700    1
6118    1
4614    0
5506    0
6251    0
2461    1
2786    1
5843    1
6178    0
4789    0
Name: term_deposit, dtype: int8

In [ ]:
#metricas
print(metrics.classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.68      0.58      0.63       819
           1       0.63      0.72      0.67       806

    accuracy                           0.65      1625
   macro avg       0.65      0.65      0.65      1625
weighted avg       0.65      0.65      0.65      1625

In [ ]:
#validadno modelo (f1-score)
metricas = cross_validate(modelo, X_train, y_train, cv= kf, scoring=['accuracy','recall','precision','f1'])

In [ ]:
print('Acuracia:', metricas['test_accuracy'].mean()) #taxa de acerto
print('Recall/Sensibilidade:', metricas['test_recall'].mean())# de todos os positivos % de acerta corretamente
print('Precisao:', metricas['test_precision'].mean())#de tudo que classifica como positivo % esta corretamente

print('f1-score:', metricas['test_f1'].mean())

Acuracia: 0.6229676507220521
Recall/Sensibilidade: 0.6890305539817851
Precisao: 0.6072086954343751
f1-score: 0.6450251479395501

KNN

In [ ]:
modelo = KNeighborsClassifier(n_neighbors=5)
modelo.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [ ]:
y_pred = modelo.predict(X_test)

In [ ]:
y_pred[0:10]

array([0, 1, 1, 1, 0, 1, 1, 0, 1, 1], dtype=int8)

In [ ]:
y_test[0:10]

1060    0
4339    1
5960    1
2767    1
5322    0
924     0
3326    1
2401    0
852     1
4222    1
Name: term_deposit, dtype: int8

In [ ]:
print(metrics.classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.63      0.71      0.67       819
           1       0.66      0.58      0.62       806

    accuracy                           0.64      1625
   macro avg       0.65      0.64      0.64      1625
weighted avg       0.65      0.64      0.64      1625

In [ ]:
#validadno modelo (f1-score)
metricas = cross_validate(modelo, X_train, y_train, cv= kf, scoring=['accuracy','recall','precision','f1'])

In [ ]:
print('Acuracia:', metricas['test_accuracy'].mean()) #taxa de acerto
print('Recall/Sensibilidade:', metricas['test_recall'].mean())# de todos os positivos % de acerta corretamente
print('Precisao:', metricas['test_precision'].mean())#de tudo que classifica como positivo % esta corretamente

print('f1-score:', metricas['test_f1'].mean())

Acuracia: 0.6347041101423907
Recall/Sensibilidade: 0.5706130113537556
Precisao: 0.6518720065336453
f1-score: 0.6079475534305692

In [ ]:
#validadno modelo (f1-score)
metricas = cross_validate(modelo, X_test, y_test, cv= kf, scoring=['accuracy','recall','precision','f1'])
print('Acuracia:', metricas['test_accuracy'].mean()) #taxa de acerto
print('Recall/Sensibilidade:', metricas['test_recall'].mean())# de todos os positivos % de acerta corretamente
print('Precisao:', metricas['test_precision'].mean())#de tudo que classifica como positivo % esta corretamente

print('f1-score:', metricas['test_f1'].mean())

Acuracia: 0.6096159963644626
Recall/Sensibilidade: 0.5599433254899893
Precisao: 0.6184351669545236
f1-score: 0.5853401413778802

Árvore de decisão

In [ ]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:
modelo = DecisionTreeClassifier(max_depth=3) #profundidade da arvore
modelo.fit(X_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=3, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [ ]:
y_pred = modelo.predict(X_test)

In [ ]:
y_pred[0:10]

array([0, 1, 1, 1, 0, 1, 1, 0, 1, 1], dtype=int8)

In [ ]:
y_test[0:10]

1060    0
4339    1
5960    1
2767    1
5322    0
924     0
3326    1
2401    0
852     1
4222    1
Name: term_deposit, dtype: int8

In [ ]:
print(metrics.classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.76      0.33      0.46       819
           1       0.57      0.90      0.69       806

    accuracy                           0.61      1625
   macro avg       0.66      0.61      0.58      1625
weighted avg       0.67      0.61      0.58      1625

In [ ]:
#validadno modelo (f1-score)
metricas = cross_validate(modelo, X_train, y_train, cv= kf, scoring=['accuracy','recall','precision','f1'])

In [ ]:
print('Acuracia:', metricas['test_accuracy'].mean()) #taxa de acerto
print('Recall/Sensibilidade:', metricas['test_recall'].mean())# de todos os positivos % de acerta corretamente
print('Precisao:', metricas['test_precision'].mean())#de tudo que classifica como positivo % esta corretamente

print('f1-score:', metricas['test_f1'].mean())

Acuracia: 0.5950003366209985
Recall/Sensibilidade: 0.7363553260944026
Precisao: 0.5870044327240093
f1-score: 0.627055437585997

In [ ]:
#validadno modelo (f1-score)
metricas = cross_validate(modelo, X_test, y_test, cv= kf, scoring=['accuracy','recall','precision','f1'])
print('Acuracia:', metricas['test_accuracy'].mean()) #taxa de acerto
print('Recall/Sensibilidade:', metricas['test_recall'].mean())# de todos os positivos % de acerta corretamente
print('Precisao:', metricas['test_precision'].mean())#de tudo que classifica como positivo % esta corretamente

print('f1-score:', metricas['test_f1'].mean())

Acuracia: 0.6019510717261228
Recall/Sensibilidade: 0.5082761011751448
Precisao: 0.6294837799070064
f1-score: 0.552855162635934

Random Forest

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
modelo = RandomForestClassifier(max_depth=2, random_state=0)
modelo.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=2, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [ ]:
y_pred = modelo.predict(X_test)

In [ ]:
y_pred[0:10]

array([0, 1, 1, 1, 0, 1, 1, 0, 1, 1], dtype=int8)

In [ ]:
y_test[0:10]

1060    0
4339    1
5960    1
2767    1
5322    0
924     0
3326    1
2401    0
852     1
4222    1
Name: term_deposit, dtype: int8

In [ ]:
print(metrics.classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.68      0.51      0.58       819
           1       0.60      0.75      0.67       806

    accuracy                           0.63      1625
   macro avg       0.64      0.63      0.63      1625
weighted avg       0.64      0.63      0.63      1625

In [ ]:
#validadno modelo (f1-score)
metricas = cross_validate(modelo, X_train, y_train, cv= kf, scoring=['accuracy','recall','precision','f1'])

In [ ]:
print('Acuracia:', metricas['test_accuracy'].mean()) #taxa de acerto
print('Recall/Sensibilidade:', metricas['test_recall'].mean())# de todos os positivos % de acerta corretamente
print('Precisao:', metricas['test_precision'].mean())#de tudo que classifica como positivo % esta corretamente

print('f1-score:', metricas['test_f1'].mean())

Acuracia: 0.6256001952401791
Recall/Sensibilidade: 0.725577913367987
Precisao: 0.6040109127937796
f1-score: 0.6583141641448386

In [ ]:
#validadno modelo (f1-score)
metricas = cross_validate(modelo, X_test, y_test, cv= kf, scoring=['accuracy','recall','precision','f1'])
print('Acuracia:', metricas['test_accuracy'].mean()) #taxa de acerto
print('Recall/Sensibilidade:', metricas['test_recall'].mean())# de todos os positivos % de acerta corretamente
print('Precisao:', metricas['test_precision'].mean())#de tudo que classifica como positivo % esta corretamente

print('f1-score:', metricas['test_f1'].mean())

Acuracia: 0.6332204801938953
Recall/Sensibilidade: 0.7496334569148385
Precisao: 0.6071517092778539
f1-score: 0.6685568440362201

### Combinando modelos

Essa parte é apenas para aprender/entender como funciona a combinação de modelos, nesse caso nao estou procurando efetivamente uma melhora no f1-score

In [ ]:
#combinaçao por votos 'HARD' e 'soft'
#import
from sklearn.ensemble import VotingClassifier

In [ ]:
#usar o soft nesse caso porque acho que ela pesa mais pro caso que seria o melhor 
#nesse caso estamso levando em consideração que é mais custoso para o negocio pever que a pessoa vai fazer o deposito e a pessoa nao fazer

In [ ]:
#combinação hard

reg_log = LogisticRegression(max_iter=200)
knn = KNeighborsClassifier(n_neighbors=5)
arvore = DecisionTreeClassifier(max_depth=3)


modelos = [('Reg. Log.', reg_log), ('KNN', knn), ('Árvore', arvore)]

modelo = VotingClassifier(modelos, voting='hard')

medidas = cross_validate(modelo, X_train, y_train, cv = kf, scoring='f1')

medidas['test_score'].mean()

0.6612314655441454

In [ ]:
#combinação soft

reg_log = LogisticRegression(max_iter=200)
knn = KNeighborsClassifier(n_neighbors=5)
arvore = DecisionTreeClassifier(max_depth=3)


modelos = [('Reg. Log.', reg_log), ('KNN', knn), ('Árvore', arvore)]

modelo = VotingClassifier(modelos, voting='soft')

medidas = cross_validate(modelo, X_train, y_train, cv = kf, scoring='f1')

medidas['test_score'].mean()

0.65267028051702