<a href="https://colab.research.google.com/github/pralineso/estudos_ds/blob/main/Analise_comp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Introdução

Este notebook é referente ao 3° competição da FLAI de Machine Learning. 

O conjunto de dados fornecido está relacionado como resultado de campanhas de marketing de uma instituição financeira.

Nessa competicção o principal objetivo é prever se o cliente fará um deposito.

## Importações

In [ ]:
import pandas as pd
import numpy as np

## Explorando a base

In [ ]:
dados = pd.read_csv('https://raw.githubusercontent.com/pralineso/estudos_ds/main/Datasets/treino_comp.csv')

In [ ]:
teste = pd.read_csv('https://raw.githubusercontent.com/pralineso/estudos_ds/main/Datasets/teste.csv')

In [ ]:
dados.head()

,Unnamed: 0,age,job,marital,education,default,balance,housing,loan,contact,day,month,campaign,pdays,previous,poutcome,term_deposit
0,0,46,management,divorced,tertiary,no,14481,yes,no,unknown,30,may,1,-1,0,unknown,yes
1,1,37,management,single,tertiary,no,457,yes,no,cellular,1,apr,3,-1,0,unknown,no
2,2,34,blue-collar,single,secondary,no,1698,yes,no,unknown,27,may,7,-1,0,unknown,no
3,3,45,unemployed,single,secondary,no,33,no,no,cellular,5,feb,1,-1,0,unknown,no
4,4,31,management,married,tertiary,no,131,no,no,cellular,18,feb,2,-1,0,unknown,yes

In [ ]:
dados.shape

(6500, 17)

In [ ]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6500 entries, 0 to 6499
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    6500 non-null   int64
 1   age           6500 non-null   int64
 2   job           6500 non-null   object
 3   marital       6500 non-null   object
 4   education     6500 non-null   object
 5   default       6500 non-null   object
 6   balance       6500 non-null   int64
 7   housing       6500 non-null   object
 8   loan          6500 non-null   object
 9   contact       6500 non-null   object
 10  day           6500 non-null   int64
 11  month         6500 non-null   object
 12  campaign      6500 non-null   int64
 13  pdays         6500 non-null   int64
 14  previous      6500 non-null   int64
 15  poutcome      6500 non-null   object
 16  term_deposit  6500 non-null   object
dtypes: int64(7), object(10)
memory usage: 863.4+ KB

Muitas variaveis categoricas...

In [ ]:
dados.describe()

,Unnamed: 0,age,balance,day,campaign,pdays,previous
count,6500.000000,6500.000000,6500.000000,6500.000000,6500.000000,6500.000000,6500.000000
mean,3249.500000,40.899692,1551.448462,15.660923,2.587846,38.655231,0.551846
std,1876.532707,11.309033,3235.418262,8.361566,2.790440,93.642546,1.825413
min,0.000000,18.000000,-3372.000000,1.000000,1.000000,-1.000000,0.000000
25%,1624.750000,32.000000,104.000000,8.000000,1.000000,-1.000000,0.000000
50%,3249.500000,39.000000,538.000000,16.000000,2.000000,-1.000000,0.000000
75%,4874.250000,48.000000,1701.000000,21.000000,3.000000,-1.000000,0.000000
max,6499.000000,95.000000,81204.000000,31.000000,58.000000,515.000000,58.000000

In [ ]:
dados.isnull().sum()

Unnamed: 0      0
age             0
job             0
marital         0
education       0
default         0
balance         0
housing         0
loan            0
contact         0
day             0
month           0
campaign        0
pdays           0
previous        0
poutcome        0
term_deposit    0
dtype: int64

Aparentemente nao possui dados faltantes

Verificando os valores das colunas default, loan, housing e term_deposit

In [ ]:
dados['default'].value_counts()

no     6403
yes      97
Name: default, dtype: int64

In [ ]:
dados['loan'].value_counts()

no     5621
yes     879
Name: loan, dtype: int64

In [ ]:
dados['housing'].value_counts()

yes    3253
no     3247
Name: housing, dtype: int64

In [ ]:
dados['term_deposit'].value_counts()

no     3267
yes    3233
Name: term_deposit, dtype: int64

Dando uma verificada na variavel target... parece estar bem equilibrado a quantidade de sim e nao

Verificando os valores das coluna: job, marital, education, contact, poutcome

In [ ]:
dados['job'].value_counts()

management       1473
blue-collar      1240
technician       1045
admin.            748
services          579
retired           397
self-employed     240
unemployed        219
entrepreneur      188
student           171
housemaid         162
unknown            38
Name: job, dtype: int64

In [ ]:
dados['marital'].value_counts()

married     3686
single      2035
divorced     779
Name: marital, dtype: int64

In [ ]:
dados['education'].value_counts()

secondary    3220
tertiary     2117
primary       893
unknown       270
Name: education, dtype: int64

In [ ]:
dados['contact'].value_counts()

cellular     4634
unknown      1445
telephone     421
Name: contact, dtype: int64

In [ ]:
dados['poutcome'].value_counts()

unknown    5233
failure     650
success     369
other       248
Name: poutcome, dtype: int64

Muitos dados possuem 'unknown'

Verificando a coluna de mes

In [ ]:
dados['month'].value_counts()

may    1720
aug     918
jul     889
jun     746
nov     604
apr     578
feb     381
oct     211
jan     137
mar     113
sep     113
dec      90
Name: month, dtype: int64

tem os 12 meses

#### Testando o Sweetviz

In [ ]:
#!pip install sweetviz

Requirement already satisfied: sweetviz in c:\users\mxapi\anaconda3\lib\site-packages (2.1.0)
Requirement already satisfied: numpy>=1.16.0 in c:\users\mxapi\anaconda3\lib\site-packages (from sweetviz) (1.19.5)
Requirement already satisfied: jinja2>=2.11.1 in c:\users\mxapi\anaconda3\lib\site-packages (from sweetviz) (2.11.2)
Requirement already satisfied: importlib-resources>=1.2.0 in c:\users\mxapi\anaconda3\lib\site-packages (from sweetviz) (5.1.2)
Requirement already satisfied: tqdm>=4.43.0 in c:\users\mxapi\anaconda3\lib\site-packages (from sweetviz) (4.46.1)
Requirement already satisfied: matplotlib>=3.1.3 in c:\users\mxapi\anaconda3\lib\site-packages (from sweetviz) (3.2.1)
Requirement already satisfied: scipy>=1.3.2 in c:\users\mxapi\anaconda3\lib\site-packages (from sweetviz) (1.4.1)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3 in c:\users\mxapi\anaconda3\lib\site-packages (from sweetviz) (1.0.3)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\mxapi\anaconda3\lib\site-packages (from jinja2>=2.11.1->sweetviz) (1.1.1)
Requirement already satisfied: zipp>=0.4; python_version < "3.8" in c:\users\mxapi\anaconda3\lib\site-packages (from importlib-resources>=1.2.0->sweetviz) (0.5.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\mxapi\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (1.2.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\mxapi\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\mxapi\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (2.8.1)
Requirement already satisfied: cycler>=0.10 in c:\users\mxapi\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (0.10.0)
Requirement already satisfied: pytz>=2017.2 in c:\users\mxapi\anaconda3\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->sweetviz) (2019.3)
Requirement already satisfied: six>=1.5 in c:\users\mxapi\anaconda3\lib\site-packages (from python-dateutil>=2.1->matplotlib>=3.1.3->sweetviz) (1.11.0)

In [ ]:
import sweetviz

In [ ]:
dados.head(3)

,Unnamed: 0,age,job,marital,education,default,balance,housing,loan,contact,day,month,campaign,pdays,previous,poutcome,term_deposit
0,0,46,management,divorced,tertiary,no,14481,yes,no,unknown,30,may,1,-1,0,unknown,yes
1,1,37,management,single,tertiary,no,457,yes,no,cellular,1,apr,3,-1,0,unknown,no
2,2,34,blue-collar,single,secondary,no,1698,yes,no,unknown,27,may,7,-1,0,unknown,no

In [ ]:
eda_dados = sweetviz.analyze(dados)
#eda_dados.show_html()

HBox(children=(FloatProgress(value=0.0, layout=Layout(flex='2'), max=18.0), HTML(value='')), layout=Layout(dis…

Report SWEETVIZ_REPORT.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [ ]:
dados['term_deposit'] == 'no'

0       False
1        True
2        True
3        True
4       False
        ...
6495    False
6496     True
6497     True
6498    False
6499    False
Name: term_deposit, Length: 6500, dtype: bool

In [ ]:
eda2 = sweetviz.compare_intra(dados, dados['term_deposit'] == 'yes', ['Usuarios', 'Deposito'])
#eda2.show_html()

HBox(children=(FloatProgress(value=0.0, layout=Layout(flex='2'), max=18.0), HTML(value='')), layout=Layout(dis…

C:\Users\mxapi\anaconda3\lib\site-packages\numpy\core\_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)
C:\Users\mxapi\anaconda3\lib\site-packages\numpy\core\_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)
C:\Users\mxapi\anaconda3\lib\site-packages\numpy\core\_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)
C:\Users\mxapi\anaconda3\lib\site-packages\numpy\core\_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)
C:\Users\mxapi\anaconda3\lib\site-packages\numpy\core\_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)
C:\Users\mxapi\anaconda3\lib\site-packages\numpy\core\_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)
C:\Users\mxapi\anaconda3\lib\site-packages\numpy\core\_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)
C:\Users\mxapi\anaconda3\lib\site-packages\numpy\core\_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)
C:\Users\mxapi\anaconda3\lib\site-packages\numpy\core\_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)
C:\Users\mxapi\anaconda3\lib\site-packages\numpy\core\_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)
C:\Users\mxapi\anaconda3\lib\site-packages\numpy\core\_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)
C:\Users\mxapi\anaconda3\lib\site-packages\numpy\core\_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)
C:\Users\mxapi\anaconda3\lib\site-packages\numpy\core\_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)
C:\Users\mxapi\anaconda3\lib\site-packages\numpy\core\_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)
C:\Users\mxapi\anaconda3\lib\site-packages\numpy\core\_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)
C:\Users\mxapi\anaconda3\lib\site-packages\numpy\core\_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)
C:\Users\mxapi\anaconda3\lib\site-packages\numpy\core\_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)
C:\Users\mxapi\anaconda3\lib\site-packages\numpy\core\_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)
C:\Users\mxapi\anaconda3\lib\site-packages\numpy\core\_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)
C:\Users\mxapi\anaconda3\lib\site-packages\numpy\core\_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)
C:\Users\mxapi\anaconda3\lib\site-packages\numpy\core\_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)
C:\Users\mxapi\anaconda3\lib\site-packages\numpy\core\_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)

C:\Users\mxapi\anaconda3\lib\site-packages\numpy\core\_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)
C:\Users\mxapi\anaconda3\lib\site-packages\numpy\core\_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)
C:\Users\mxapi\anaconda3\lib\site-packages\numpy\core\_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)
C:\Users\mxapi\anaconda3\lib\site-packages\numpy\core\_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)
C:\Users\mxapi\anaconda3\lib\site-packages\numpy\core\_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)
C:\Users\mxapi\anaconda3\lib\site-packages\numpy\core\_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)
C:\Users\mxapi\anaconda3\lib\site-packages\numpy\core\_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)
C:\Users\mxapi\anaconda3\lib\site-packages\numpy\core\_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)
C:\Users\mxapi\anaconda3\lib\site-packages\numpy\core\_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)
C:\Users\mxapi\anaconda3\lib\site-packages\numpy\core\_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)
C:\Users\mxapi\anaconda3\lib\site-packages\numpy\core\_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)
C:\Users\mxapi\anaconda3\lib\site-packages\numpy\core\_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)
C:\Users\mxapi\anaconda3\lib\site-packages\numpy\core\_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)

Report SWEETVIZ_REPORT.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

Testando uma heusritica base: "toda pessoa que esta inadimplente nao faz o deposito, toda pessoa que paga em dia faz o deposito"

In [ ]:
teste1 = dados['default'].map({'no':0, 'yes':1})
teste1

0       0
1       0
2       0
3       0
4       0
       ..
6495    0
6496    0
6497    0
6498    0
6499    0
Name: default, Length: 6500, dtype: int64

In [ ]:
term_dep = dados['term_deposit'].map({'no':0, 'yes':1})

In [ ]:
#acuracia da heuristica
(teste1 == term_dep).mean()

0.49876923076923074

In [ ]:
dados['term_deposit'].describe()

count     6500
unique       2
top         no
freq      3267
Name: term_deposit, dtype: object

In [ ]:
dados['term_deposit'].value_counts()

no     3267
yes    3233
Name: term_deposit, dtype: int64

In [ ]:
dados['balance'].describe()

count     6500.000000
mean      1551.448462
std       3235.418262
min      -3372.000000
25%        104.000000
50%        538.000000
75%       1701.000000
max      81204.000000
Name: balance, dtype: float64

In [ ]:
#separar o balance em

#balance >= 100 == 1
#balance < 100 == 0


def transforma_para_zero_e_um(valor):

    if valor >= 500:
        return 1
    else:
        return 0

In [ ]:
dados['balance_bin'] = dados['balance'].apply(transforma_para_zero_e_um)

In [ ]:
teste2 = dados['balance_bin']

In [ ]:
#acuracia da heuristica 2
(teste2 == term_dep).mean()

0.5603076923076923

## Tratamento dos dados

Transformando as colunas object para category

In [ ]:
#Transforma as object em category
for i in dados.columns[dados.dtypes == object]: # df.dtypes == 'object'
    dados[i] = dados[i].astype('category')

In [ ]:
#Transforma as object em category
for i in teste.columns[teste.dtypes == object]: # df.dtypes == 'object'
    teste[i] = teste[i].astype('category')

In [ ]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6500 entries, 0 to 6499
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    6500 non-null   int64
 1   age           6500 non-null   int64
 2   job           6500 non-null   category
 3   marital       6500 non-null   category
 4   education     6500 non-null   category
 5   default       6500 non-null   category
 6   balance       6500 non-null   int64
 7   housing       6500 non-null   category
 8   loan          6500 non-null   category
 9   contact       6500 non-null   category
 10  day           6500 non-null   int64
 11  month         6500 non-null   category
 12  campaign      6500 non-null   int64
 13  pdays         6500 non-null   int64
 14  previous      6500 non-null   int64
 15  poutcome      6500 non-null   category
 16  term_deposit  6500 non-null   category
dtypes: category(10), int64(7)
memory usage: 420.8 KB

Transformando as variaveis categoricas em numericas (no = 0 e yes = 1) das colunas default, loan, housing e term_deposit

In [ ]:
#pega somente essas colunas e transfoma pra 0 e 1
lista = ['default', 'loan', 'housing','term_deposit']

for i in lista:
    dados[i] = dados[i].cat.codes

In [ ]:
#pega somente essas colunas e transfoma pra 0 e 1
lista = ['default', 'loan', 'housing']

for i in lista:
    teste[i] = teste[i].cat.codes

In [ ]:
dados[lista]

      default  loan  housing  term_deposit
0           0     0        1             1
1           0     0        1             0
2           0     0        1             0
3           0     0        0             0
4           0     0        0             1
...       ...   ...      ...           ...
6495        0     0        1             1
6496        0     0        0             0
6497        0     0        0             0
6498        0     0        0             1
6499        0     0        1             1

[6500 rows x 4 columns]

Ordenando education para primary, secondray, tertiary e unknown

In [ ]:
#reordenando
dados.education = dados.education.cat.reorder_categories(['primary', 'secondary', 'tertiary', 'unknown'], ordered=True)

In [ ]:
#reordenando
teste.education = teste.education.cat.reorder_categories(['primary', 'secondary', 'tertiary', 'unknown'], ordered=True)

Transformando as variaveis job, marital, contact e poutcome em numeros

In [ ]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6500 entries, 0 to 6499
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    6500 non-null   int64
 1   age           6500 non-null   int64
 2   job           6500 non-null   category
 3   marital       6500 non-null   category
 4   education     6500 non-null   category
 5   default       6500 non-null   int8
 6   balance       6500 non-null   int64
 7   housing       6500 non-null   int8
 8   loan          6500 non-null   int8
 9   contact       6500 non-null   category
 10  day           6500 non-null   int64
 11  month         6500 non-null   category
 12  campaign      6500 non-null   int64
 13  pdays         6500 non-null   int64
 14  previous      6500 non-null   int64
 15  poutcome      6500 non-null   category
 16  term_deposit  6500 non-null   int8
dtypes: category(6), int64(7), int8(4)
memory usage: 420.5 KB

In [ ]:
#pega somente essas colunas e transfoma para numeros
lista = ['job', 'marital',  'education', 'contact','poutcome', 'month']

for i in lista:
    dados[i] = dados[i].cat.codes

In [ ]:
#pega somente essas colunas e transfoma para numeros
lista = ['job', 'marital',  'education', 'contact','poutcome', 'month']

for i in lista:
    teste[i] = teste[i].cat.codes

In [ ]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6500 entries, 0 to 6499
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    6500 non-null   int64
 1   age           6500 non-null   int64
 2   job           6500 non-null   int8
 3   marital       6500 non-null   int8
 4   education     6500 non-null   int8
 5   default       6500 non-null   int8
 6   balance       6500 non-null   int64
 7   housing       6500 non-null   int8
 8   loan          6500 non-null   int8
 9   contact       6500 non-null   int8
 10  day           6500 non-null   int64
 11  month         6500 non-null   int8
 12  campaign      6500 non-null   int64
 13  pdays         6500 non-null   int64
 14  previous      6500 non-null   int64
 15  poutcome      6500 non-null   int8
 16  term_deposit  6500 non-null   int8
dtypes: int64(7), int8(10)
memory usage: 419.1 KB

Tranformando as variaveis continuas /normalizando as variaveis

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [ ]:
dados_norm = sc.fit_transform(dados[['age', 'balance','day', 'campaign' , 'pdays', 'previous']]) #tranformando
dados_norm_df = pd.DataFrame(dados_norm, columns = ['age_n', 'balance_n', 'day_n', 'campaign_n' , 'pdays_n', 'previous_n']) #montando dataframe
dados = pd.concat([dados, dados_norm_df], axis = 1) #cocatenando com a base original

In [ ]:
teste_norm = sc.fit_transform(teste[['age', 'balance','day', 'campaign' , 'pdays', 'previous']]) #tranformando
teste_norm_df = pd.DataFrame(teste_norm, columns = ['age_n', 'balance_n', 'day_n', 'campaign_n' , 'pdays_n', 'previous_n']) #montando dataframe
teste = pd.concat([teste, teste_norm_df], axis = 1) #cocatenando com a base original

In [ ]:
dados.sample(5)

,Unnamed: 0,age,job,marital,education,default,balance,housing,loan,contact,...,pdays,previous,poutcome,term_deposit,age_n,balance_n,day_n,campaign_n,pdays_n,previous_n
1540,1540,69,5,1,0,0,2346,0,0,0,...,-1,0,3,1,2.484958,0.245598,-0.557465,-0.210680,-0.423507,-0.302336
3418,3418,59,11,1,1,0,402,0,0,1,...,-1,0,3,0,1.600641,-0.355298,1.116991,0.864501,-0.423507,-0.302336
2311,2311,30,4,2,2,0,1161,1,0,0,...,-1,0,3,0,-0.963878,-0.120689,1.595407,0.147713,-0.423507,-0.302336
2926,2926,36,7,0,2,0,58,1,0,0,...,-1,0,3,0,-0.433288,-0.461629,1.475803,3.731653,-0.423507,-0.302336
4238,4238,47,3,1,0,0,20,0,1,0,...,-1,0,3,0,0.539461,-0.473375,1.475803,0.864501,-0.423507,-0.302336

Dropando variaveis

In [ ]:
dados.columns

Index(['Unnamed: 0', 'age', 'job', 'marital', 'education', 'default',
       'balance', 'housing', 'loan', 'contact', 'day', 'month', 'campaign',
       'pdays', 'previous', 'poutcome', 'term_deposit', 'age_n', 'balance_n',
       'day_n', 'campaign_n', 'pdays_n', 'previous_n'],
      dtype='object')

In [ ]:
#dados.drop(['Unnamed: 0'], axis = 1, inplace = True)

In [ ]:
dados.drop(['Unnamed: 0','age', 'day', 'balance', 'campaign', 'pdays', 'previous'], axis = 1, inplace = True) # removendo as colunas que nao estao tranformadas

In [ ]:
teste.drop(['Unnamed: 0','age', 'day', 'balance', 'campaign', 'pdays', 'previous'], axis = 1, inplace = True) # removendo as colunas que nao estao tranformadas

Verificando a base apos as transformacoes

In [ ]:
dados.sample(5)

,job,marital,education,default,housing,loan,contact,month,poutcome,term_deposit,age_n,balance_n,day_n,campaign_n,pdays_n,previous_n
4208,7,0,1,0,0,0,2,6,3,1,0.451029,-0.479557,0.518971,0.147713,-0.423507,-0.302336
2317,9,0,1,0,0,0,0,1,3,1,0.362597,0.341729,-1.035881,0.147713,-0.423507,-0.302336
560,4,1,2,0,0,0,0,1,3,1,2.308094,-0.354370,-1.035881,-0.210680,-0.423507,-0.302336
4073,5,1,0,0,0,0,0,1,3,0,1.600641,-0.302132,0.279763,1.222895,-0.423507,-0.302336
3823,4,1,2,0,1,0,0,0,3,0,-0.610151,-0.574761,1.715011,-0.210680,-0.423507,-0.302336

In [ ]:
teste.sample(5)

,job,marital,education,default,housing,loan,contact,month,poutcome,age_n,balance_n,day_n,campaign_n,pdays_n,previous_n
412,1,1,0,0,0,0,2,8,3,0.645809,2.440681,-0.173128,0.293577,-0.418778,-0.279348
1220,4,1,3,0,1,0,0,6,2,1.090398,0.245921,-1.619870,-0.165682,3.864056,0.211063
286,4,1,2,0,0,0,0,3,3,-0.776872,-0.457868,-1.619870,-0.624941,-0.418778,-0.279348
453,9,2,2,0,0,0,0,5,3,-0.599037,-0.226841,-0.896499,-0.624941,-0.418778,-0.279348
1206,0,2,1,0,1,0,0,8,2,0.201221,-0.243065,1.153053,-0.624941,1.667162,1.191885

## Modelagem

In [ ]:
from sklearn.model_selection import train_test_split, cross_val_score, cross_validate, KFold, RepeatedKFold
from sklearn import metrics
from sklearn.linear_model import LogisticRegression 
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
#f-fold
#kf = KFold(n_splits=5, shuffle=True)

In [ ]:
#k-foldrepetido
kf = RepeatedKFold(n_splits=10, n_repeats=5)

Separando treino e teste

In [ ]:
y = dados.term_deposit
X = dados.drop(['term_deposit'], axis=1)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

# o que significa stratify ?

Linear Regression

In [ ]:
#treinamento
modelo = LogisticRegression(max_iter=100)
modelo.fit(X_train, y_train)

LogisticRegression()

In [ ]:
#predicao
y_pred = modelo.predict(X_test)

In [ ]:
y_pred[0:20]

array([0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1],
      dtype=int8)

In [ ]:
y_test[0:20]

3393    0
2564    0
5444    0
1481    0
245     1
1328    0
3638    0
2368    1
504     0
2661    1
2602    0
6136    1
2926    0
6336    1
5192    1
5620    1
1713    1
6176    1
1894    0
1920    1
Name: term_deposit, dtype: int8

In [ ]:
#metricas
print(metrics.classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.63      0.59      0.61       790
           1       0.63      0.67      0.65       835

    accuracy                           0.63      1625
   macro avg       0.63      0.63      0.63      1625
weighted avg       0.63      0.63      0.63      1625

In [ ]:
#validadno modelo (f1-score)
metricas = cross_validate(modelo, X_train, y_train, cv= kf, scoring=['accuracy','recall','precision','f1'])

In [ ]:
print('Acuracia:', metricas['test_accuracy'].mean()) #taxa de acerto
print('Recall/Sensibilidade:', metricas['test_recall'].mean())# de todos os positivos % de acerta corretamente
print('Precisao:', metricas['test_precision'].mean())#de tudo que classifica como positivo % esta corretamente

print('f1-score:', metricas['test_f1'].mean())

Acuracia: 0.62847022587269
Recall/Sensibilidade: 0.6782414735386624
Precisao: 0.610734977348553
f1-score: 0.6418980564471789

KNN

In [ ]:
modelo = KNeighborsClassifier(n_neighbors=5)
modelo.fit(X_train, y_train)

KNeighborsClassifier()

In [ ]:
y_pred = modelo.predict(X_test)

In [ ]:
y_pred[0:10]

array([0, 0, 0, 1, 0, 1, 0, 0, 1, 0], dtype=int8)

In [ ]:
y_test[0:10]

786     1
288     1
4391    0
1532    1
1018    0
3807    1
2889    0
847     1
4688    1
1337    1
Name: term_deposit, dtype: int8

In [ ]:
print(metrics.classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.61      0.71      0.66       790
           1       0.67      0.57      0.61       835

    accuracy                           0.64      1625
   macro avg       0.64      0.64      0.64      1625
weighted avg       0.64      0.64      0.63      1625

In [ ]:
#validadno modelo (f1-score)
metricas = cross_validate(modelo, X_train, y_train, cv= kf, scoring=['accuracy','recall','precision','f1'])

In [ ]:
print('Acuracia:', metricas['test_accuracy'].mean()) #taxa de acerto
print('Recall/Sensibilidade:', metricas['test_recall'].mean())# de todos os positivos % de acerta corretamente
print('Precisao:', metricas['test_precision'].mean())#de tudo que classifica como positivo % esta corretamente

print('f1-score:', metricas['test_f1'].mean())

Acuracia: 0.6346680916955599
Recall/Sensibilidade: 0.5615598135313716
Precisao: 0.6487090312009544
f1-score: 0.6014557423424783

In [ ]:
#validadno modelo (f1-score)
metricas = cross_validate(modelo, X_test, y_test, cv= kf, scoring=['accuracy','recall','precision','f1'])
print('Acuracia:', metricas['test_accuracy'].mean()) #taxa de acerto
print('Recall/Sensibilidade:', metricas['test_recall'].mean())# de todos os positivos % de acerta corretamente
print('Precisao:', metricas['test_precision'].mean())#de tudo que classifica como positivo % esta corretamente

print('f1-score:', metricas['test_f1'].mean())

Acuracia: 0.6151336817389987
Recall/Sensibilidade: 0.5827056314296848
Precisao: 0.6375999207640567
f1-score: 0.6074060507386178

Árvore de decisão

In [ ]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:
modelo = DecisionTreeClassifier(max_depth=3) #profundidade da arvore
modelo.fit(X_train,y_train)

DecisionTreeClassifier(max_depth=3)

In [ ]:
y_pred = modelo.predict(X_test)

In [ ]:
y_pred[0:10]

array([1, 1, 0, 1, 0, 1, 0, 1, 1, 1], dtype=int8)

In [ ]:
y_test[0:10]

3393    0
2564    0
5444    0
1481    0
245     1
1328    0
3638    0
2368    1
504     0
2661    1
Name: term_deposit, dtype: int8

In [ ]:
print(metrics.classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.72      0.32      0.45       790
           1       0.58      0.88      0.70       835

    accuracy                           0.61      1625
   macro avg       0.65      0.60      0.57      1625
weighted avg       0.65      0.61      0.58      1625

In [ ]:
#validadno modelo (f1-score)
metricas = cross_validate(modelo, X_train, y_train, cv= kf, scoring=['accuracy','recall','precision','f1'])

In [ ]:
print('Acuracia:', metricas['test_accuracy'].mean()) #taxa de acerto
print('Recall/Sensibilidade:', metricas['test_recall'].mean())# de todos os positivos % de acerta corretamente
print('Precisao:', metricas['test_precision'].mean())#de tudo que classifica como positivo % esta corretamente

print('f1-score:', metricas['test_f1'].mean())

Acuracia: 0.5951585484902547
Recall/Sensibilidade: 0.7995208866487244
Precisao: 0.5685508606445093
f1-score: 0.650231640064719

In [ ]:
#validadno modelo (f1-score)
metricas = cross_validate(modelo, X_test, y_test, cv= kf, scoring=['accuracy','recall','precision','f1'])
print('Acuracia:', metricas['test_accuracy'].mean()) #taxa de acerto
print('Recall/Sensibilidade:', metricas['test_recall'].mean())# de todos os positivos % de acerta corretamente
print('Precisao:', metricas['test_precision'].mean())#de tudo que classifica como positivo % esta corretamente

print('f1-score:', metricas['test_f1'].mean())

Acuracia: 0.6125509353934713
Recall/Sensibilidade: 0.7995502640390306
Precisao: 0.5939910547780799
f1-score: 0.6781256948469734

Random Forest

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
modelo = RandomForestClassifier(max_depth=2, random_state=0)
modelo.fit(X_train, y_train)

RandomForestClassifier(max_depth=2, random_state=0)

In [ ]:
y_pred = modelo.predict(X_test)

In [ ]:
y_pred[0:10]

array([0, 0, 0, 1, 0, 0, 0, 0, 1, 1], dtype=int8)

In [ ]:
y_test[0:10]

3393    0
2564    0
5444    0
1481    0
245     1
1328    0
3638    0
2368    1
504     0
2661    1
Name: term_deposit, dtype: int8

In [ ]:
print(metrics.classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.64      0.62      0.63       790
           1       0.65      0.66      0.66       835

    accuracy                           0.64      1625
   macro avg       0.64      0.64      0.64      1625
weighted avg       0.64      0.64      0.64      1625

In [ ]:
#validadno modelo (f1-score)
metricas = cross_validate(modelo, X_train, y_train, cv= kf, scoring=['accuracy','recall','precision','f1'])

In [ ]:
print('Acuracia:', metricas['test_accuracy'].mean()) #taxa de acerto
print('Recall/Sensibilidade:', metricas['test_recall'].mean())# de todos os positivos % de acerta corretamente
print('Precisao:', metricas['test_precision'].mean())#de tudo que classifica como positivo % esta corretamente

print('f1-score:', metricas['test_f1'].mean())

Acuracia: 0.6386849900696806
Recall/Sensibilidade: 0.6362600116185002
Precisao: 0.6332357650265806
f1-score: 0.6333849980565411

In [ ]:
#validadno modelo (f1-score)
metricas = cross_validate(modelo, X_test, y_test, cv= kf, scoring=['accuracy','recall','precision','f1'])
print('Acuracia:', metricas['test_accuracy'].mean()) #taxa de acerto
print('Recall/Sensibilidade:', metricas['test_recall'].mean())# de todos os positivos % de acerta corretamente
print('Precisao:', metricas['test_precision'].mean())#de tudo que classifica como positivo % esta corretamente

print('f1-score:', metricas['test_f1'].mean())

Acuracia: 0.627943649170643
Recall/Sensibilidade: 0.7682776808765546
Precisao: 0.6120341637976014
f1-score: 0.678498286463222

### Combinando modelos

Essa parte é apenas para aprender/entender como funciona a combinação de modelos, nesse caso nao estou procurando efetivamente uma melhora no f1-score

In [ ]:
#combinaçao por votos 'HARD' e 'soft'
#import
from sklearn.ensemble import VotingClassifier

In [ ]:
#usar o soft nesse caso porque acho que ela pesa mais pro caso que seria o melhor 
#nesse caso estamso levando em consideração que é mais custoso para o negocio pever que a pessoa vai fazer o deposito e a pessoa nao fazer

In [ ]:
#combinação hard

reg_log = LogisticRegression(max_iter=200)
knn = KNeighborsClassifier(n_neighbors=5)
arvore = DecisionTreeClassifier(max_depth=3)


modelos = [('Reg. Log.', reg_log), ('KNN', knn), ('Árvore', arvore)]

modelo = VotingClassifier(modelos, voting='hard')

medidas = cross_validate(modelo, X_train, y_train, cv = kf, scoring='f1')

medidas['test_score'].mean()

0.6560796949236163

In [ ]:
#combinação soft

reg_log = LogisticRegression(max_iter=200)
knn = KNeighborsClassifier(n_neighbors=5)
arvore = DecisionTreeClassifier(max_depth=3)


modelos = [('Reg. Log.', reg_log), ('KNN', knn), ('Árvore', arvore)]

modelo = VotingClassifier(modelos, voting='soft')

medidas = cross_validate(modelo, X_train, y_train, cv = kf, scoring='f1')

medidas['test_score'].mean()

### Treino da base de teste

In [ ]:

from sklearn.ensemble import BaggingClassifier

In [ ]:

def MachineLearning(dataset):

    X = dataset.drop('term_deposit', axis = 1)
    y = dataset['term_deposit']

    lista_de_medidas = ['accuracy', 'recall', 'precision', 'balanced_accuracy', 'f1']

    nome_das_medidas = ['acurácia', 'sensibilidade', 'vpp', 'eficiência', 'f1-score']

    lista_de_modelos = [LogisticRegression(),
                        DecisionTreeClassifier(max_depth = 3),
                        DecisionTreeClassifier(max_depth = 5),
                        DecisionTreeClassifier(max_depth = 7),
                        KNeighborsClassifier(n_neighbors = 5),
                        KNeighborsClassifier(n_neighbors = 15),
                        KNeighborsClassifier(n_neighbors = 25),
                        BaggingClassifier(),
                        RandomForestClassifier(n_estimators=300, max_depth = 3, max_features = 3),
                        RandomForestClassifier(n_estimators=300, max_depth = 3, max_features = 4),
                        RandomForestClassifier(n_estimators=300, max_depth = 6, max_features = 3),
                        RandomForestClassifier(n_estimators=300, max_depth = 6, max_features = 4),
                        RandomForestClassifier(n_estimators=300, max_depth = 8, max_features = 3),
                        RandomForestClassifier(n_estimators=300, max_depth = 8, max_features = 4)]

    nome_dos_modelos = ['Regressão Logística',
                        'Árvore (prof = 3)',
                        'Árvore (prof = 5)',
                        'Árvore (prof = 7)',
                        '5-NN',
                        '15-NN',
                        '25-NN',
                        'Bagging',
                        'Random Forest (prof = 3, mf = 3)',
                        'Random Forest (prof = 3, mf = 4)',
                        'Random Forest (prof = 6, mf = 3)',
                        'Random Forest (prof = 6, mf = 4)',
                        'Random Forest (prof = 8, mf = 3)',
                        'Random Forest (prof = 8, mf = 4)']

    resultados0 = {}

    for i in range(len(lista_de_modelos)):
        print('Rodando modelo: ' + nome_dos_modelos[i])
        accs_vc = cross_validate(lista_de_modelos[i], X, y, cv = kf, scoring = lista_de_medidas)

        acc = accs_vc['test_accuracy'].mean()
        sen = accs_vc['test_recall'].mean()
        vpp = accs_vc['test_precision'].mean()
        bac = accs_vc['test_balanced_accuracy'].mean()
        f1s = accs_vc['test_f1'].mean()

        resultados0[nome_dos_modelos[i]] = [acc, sen, vpp, f1s, bac]
    
    resultados = pd.DataFrame(resultados0, index = nome_das_medidas).T

    return resultados

Testando varios modelos de uma vez

In [ ]:
MachineLearning(dados)

In [ ]:
def Submissao(treino, teste, modelo, nome = 'submissaoFLAI'):

    X = treino.drop('term_deposit', axis = 1)
    y = treino['term_deposit']
 
    modelo.fit(X, y)
    pred = modelo.predict(teste)

    subm = pd.DataFrame()  
    subm['term_deposit'] = pred
    
    subm.to_csv(nome + '.csv', index = False)

In [ ]:
rf = RandomForestClassifier(n_estimators = 300, max_depth = 8, max_features = 4)

Submissao(dados, teste, modelo = rf, nome = 'Submissão')